*{
  font-family:sans-serif;
  box-sizing: border-box;
  margin: 0px;
  transition: 300ms;
}
h1 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}
p, button{
  font-size:10px;
}
.pri_btn{
  background-color: #043A53;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 8px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  gap: 5%;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style-type: none;
  padding: 0;
}
.top_navbar{
  width: 40%;
}
.top_navbar_list{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  gap: 2%;
  overflow: hidden;
  font-size: 1vw;
  color: #FFFFFF;
}
button{
  cursor: pointer;
}
.log_btn{
  border: none;
  background-color: transparent;
  padding-right: 1vw;
}
.sin_btn{
  border: none;
  background-color: rgb(22, 81, 190);
  padding: 12px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.menu{
  display: none;
}
.hero{
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-areas: "left center right";
  align-items: center;
  padding: 1vw 5vw;
  gap: 3%;
  text-align: center;
  background-color: rgb(245, 240, 240);
}
.hero_left{
  grid-area: left;
}
.hero_center{
  grid-area: center;
}
.hero_right{
  grid-area:right;
}
.hero_img{
  height: 100%;
  width: 100%;
}
.features_container{
  background-color: #043A53;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  padding: 0% 10%
}
.feature_text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  margin: 10px 10px;
  align-items: center;
}
.feature_img{
  width: 100%;
  height: 100%;
}
.benefits{
  margin: 3% 10%;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  gap: 10px;
}
.benefit_container{
  display: flex;
  gap: 5px;
}
.benefit{
  padding: 2%;
  border-radius: 5px;
  background: rgb(241, 239, 239);
}
.benefit img{
  width: 50px;
  height: 50px;
}
.achievements{
  margin: 3% 10%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.founder{
  margin: 3% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  align-items: center;
}
.reports{
  margin: 3% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  align-items: center;
  grid-template-areas: "left right";
}
.report_left{
  grid-area: left;
}
.report_right{
  grid-area: right;
}
.testimonials{
  margin: 3% 10%;
}
.testimonial_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  align-items: center;

}
.testimonial_card{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
}
.news{
  margin: 3% 10%;
}
.card_container{
  display: flex;
  gap: 10px;
  border-radius: 20px;
  justify-content: space-between;
}
.card_container img{
  width: 100%;
  height: auto;
}
.card h5{
  font-size: large;
}
.customer_service{
  background-color: black;
  padding: 3% 10%;
  padding-bottom: 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer_service img{
  width: 100%;
}
.footer{
  margin: 3% 0%;
  padding: 0% 10%;
}
.more_options{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  gap: 5%;
}
.developer_section{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.developer_card{
  width: 50%;
  border: 1px solid gray;
  border-radius: 5px;
}
.developer_card img{
  width: 50px;
  height: auto;
}

@media screen and (max-width: 750px) {
  .top_navbar, .login_signup {
    display: none;
  }

  .menu {
    display: block;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
      "center center"
      "left right";
    text-align: center;
  }

  .hero_center {
    grid-area: center;
    grid-column: span 2;
  }

  .hero_left {
    grid-area: left;
  }

  .hero_right {
    grid-area: right;
  }

  .hero_img {
    width: 80%;
    height: auto;
  }

  .hero_left, .hero_right {
    text-align: center;
  }
  .feature_text{
    grid-template-columns: 1fr;
  }
  .benefits{
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
  }
  .benefit{
    flex-direction: column;
  }
  .card h5{
    font-size: medium;
  }
  .more_options{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:400px) {
  .benefit_container{
    flex-direction: column;
    justify-content: flex-start;
  }
  .founder{
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .reports{
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .card_container{
    flex-direction: column;
  }
}
